
 body{

  overflow-x: hidden;
}
.wrapper{
  background-image: url("images/pasta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  margin-top: 40px;
    margin-left: 20px;
    margin-right: auto;
    padding-bottom: 30px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgb(26,26,26);
 }
.signup-button{
  background-color: rgb(15,15,15);
  border: 1px solid white; 
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  line-height: 22px;
  max-width: 200px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 4px;
  }
  .signup-button:hover{
    background-color: rgb(240,240,240);
    color: rgb(0,0,0);
    text-decoration: none;
  }
  .login-button{
  background-color: transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  line-height: 22px;
  margin-left: 650px;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 4px;
  }
  .login-button:hover{
  color: white;
  text-decoration: none;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a.category:link, a.category:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color: rgb(26,26,26);
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a.category:hover, a.category:active {
    background-color: white;
    color: rgb(26,26,26);
}
.menus{
  list-style:none;
  width:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.menus li{
      padding: 5px;
    float: left;
    margin-right: 10px;
}
.menus a{
    display: block;
    text-align:center;
  width: 100%; 
  text-decoration:none; 
}
.header{
  font-family: Arial Black;
  color: white;
  margin-top: -30px;
  padding: 100px;
  border-radius: 5px;
}
.container{
  margin-top: 0;
  margin-left: 300px;
}
h3{
  margin-top: 10px;
  color: white;
}
#third{
  padding-top:5px;
}
p.highlight1{
  background-color: rgba(255,115,21,0.5);
  padding: 4px;
  width: 55%;
  border-radius: 2px;
}
p.highlight2{
  background-color: rgba(255,115,21,0.5);
  padding: 4px;
  width: 35%;
  border-radius: 2px;
}
p.highlight3{
  background-color: rgba(255,115,21,0.5);
  padding: 4px;
  width: 35%;
  border-radius: 2px;
}
.highlight4{
  background-color: rgba(255,115,21,0.5);
  padding: 10px;
  width: 50%;
  color:white;
  border-radius: 2px;
}